<h2>Kon'nickhiwa, from your closet</h2>
<img src="http://graphics8.nytimes.com/images/2012/02/19/t-magazine/19remix-toledo/19remix-toledo-tmagArticle.jpg">
<p>
  Sartorial Sensei says: Get dressed, not stressed. 
</p>