<div class="container">
  <body>
    <h2>Kon'nichiwa, from your closet</h2><br>
      <img src="http://graphics8.nytimes.com/images/2012/02/19/t-magazine/19remix-toledo/19remix-toledo-tmagArticle.jpg"><br>
    <p>
      Sartorial Sensei says: Get dressed, not stressed. 
    </p>
  </body>
</div>